*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
    font-style: normal;
}
:root{
    --black--main: rgba(0, 0, 0, 0.9);
    --white-main: #fff;
    --red-main: #a01111;
    --orange-main: #ffa500;
    --gray-main: rgb(130, 130, 123);
}
/* contacts on top */
.contactGlobal{
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    background: var(--black--main);
    color: var(--white-main);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    /* margin: 15px 0; */
}
#contact-handles{
    margin: 15px;
}
#contact-handles i{
    padding: 10px;
    font-size: 20px;    
}
#contact-handles i:hover{
    cursor: pointer;
    background: var(--white-main);
    color: var(--red-main);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s ease;
    transform: translateX(15px);
}
#contacts-local{
    margin: 15px;
}
#contacts-local i{
    padding: 10px;
}
#contacts-local:hover{
    cursor: pointer;
}
/*
 .phone{
    font-family: "Ubuntu", sans-serif
} */
#envelope, #phone, #clock{
    font-size: 20px;
}
/* main-nav */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background: var(--black--main);
    color: var(--white-main);
}
.logo{
    font-family: "Odibee Sans", sans-serif;
    letter-spacing: 2px;
    font-size: 2.5rem;
}
.logo span{
    color: var(--orange-main);
    font-size: 2.5rem;
}
/* MENU BAR */
.menuIcon{
    display: none;
    margin: 15px 0;
    /* background: var(--red-main); */
}
#showMenu, #hideMenu{
    font-size: 23px;
    border: 2px solid var(--orange-main);
    width: 35px;
    height: 35px;
    border-radius: 8px;
    padding: 5px 5px;
}
#showMenu:hover, #hideMenu:hover{
    cursor: pointer;
    border: 3px solid var(--gray-main);
    /* transition: all .4s; */
    padding: 5px 4px;
    /* color: var(--gray-main); */
}
#hideMenu{
    padding: 5px 6px;
    display: none;
}
/* NAVBAR */
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li{
    padding: 15px;
}
.navbar ul li a{
    color: var(--white-main);
    text-decoration: none;
}
.navbar ul li:hover{
    border-bottom: 3px solid var(--orange-main);
    transition: .3s ease;
    cursor: pointer;
}
.navbar ul li i{
    color: var(--white-main);
    padding: 0 10px;
}
.drop{
    display: none;
}
.drop{
    position: absolute;
    width: 200px;
    background: var(--white-main);
    right: 170px;
    top: 100px;
    padding: 10px 5px;
    transition: all .7s;
    box-shadow: 0 0 20px var(--white-main);
    border-radius: 4px;
    display: none;

}
#pages:hover ~ .drop{
    display: block;
}
.drop ul{
    display: block;
    list-style-type: none;
}
.drop ul li a{
    color: var(--black--main);
    text-decoration: none;

}
.drop ul li{
    padding: 10px;
}
.drop ul li:hover{
    border-bottom: none;
    border-left: 2px solid var(--black--main);
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease;
    transform: translateX(10px);
    color: var(--orange-main);
}
/* .navbar ul li:hover .pages-drop-down{
    display: block;
} */
/* pages more */
#sign-upBTN{
    padding: 8px 25px;
        background: transparent;
        color: var(--white-main);
        border: 2px solid var(--white-main);
        text-transform: uppercase;
        border-radius: 5px;
}
#sign-upBTN:hover{
    color: var(--white-main);
    border: 2px solid var(--orange-main);
    background: var(--orange-main);
    transition: .3s ease;
    cursor: pointer;
}

/* hero section */
#hero{
    background: url(https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center/cover;
    /* height: 700px; */
    color: var(--white-main);
    padding: 5px 20px;
}
.homeText{
    margin: 15px 0;
}
.homeText h1{
    line-height: 1.5;
    /* letter-spacing: 2px; */
    font-weight: bold;
    font-size: 2rem;
}
.homeText p{
    line-height: 2;
    margin: 15px 0;
}
.homeText aside{
    line-height: 2;
}
.shop-cart{
    margin: 20px 0;
}
#shop-nowBtn{
    padding: 8px 25px;
    background: transparent;
    color: var(--white-main);border: 2px solid var(--white-main);
    text-transform: uppercase;
    border-radius: 5px;
}
#shop-nowBtn:hover{
    background: var(--orange-main);
    color: var(--white-main);
        border: 2px solid var(--orange-main);
        cursor: pointer;
        transition: all .3s;
                transform: translateY(-15px);}
.shop-right, .cart-icon-add{
    position: relative;
    left: 10px;
}
#cartBtn{
    padding: 8px 25px;
        background: var(--orange-main);
        color: var(--white-main);
        border: 2px solid var(--orange-main);
        text-transform: uppercase;
        border-radius: 5px;
        margin: 0 10px;
}
#cartBtn:hover{
    background: transparent;
        color: var(--white-main);
        border: 2px solid var(--white-main);
        cursor: pointer;
                transition: all .3s;
                                transform: translateY(-15px);
}

/* For Media Querrt - Smaller Screens */
@media (min-width: 0) and (max-width: 750px) {
    
    .contactGlobal{
        display: none;
    }
    /* NavBar */
    .navbar{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        width: 80%;
        height: 89%;
        background: var(--orange-main);
    }
    .navbar ul{
        display: block;
    }
    .navbar ul li{
        margin-top: 10px;
        padding: 15px;
    }
    .navbar ul li:hover{
        border-bottom: none;
            /* border-left: 2px solid var(--white-main); */
            background: var(--black--main);
            width: 280px;
            cursor: pointer;
            font-weight: bold;
            transition: .3s ease;
            transform: translateX(10px);
            border-radius: 4px;
    }
        .drop {
            display: none;
    
        }
    
        .drop ul {
            display: block;
            list-style-type: none;
        }
    
        .drop ul li a {
            color: var(--black--main);
            text-decoration: none;
    
        }
    
        .drop ul li {
            padding: 10px;
        }
    
        .drop ul li:hover {
            border-bottom: none;
            border-left: 2px solid var(--black--main);
            cursor: pointer;
            font-weight: bold;
            transition: .3s ease;
            transform: translateX(10px);
            color: var(--orange-main);
        }
    
      

    /* Menu Bar */
    .menuIcon{
        display: block;
    }

    /* hero section */
    /* #hero{
        height: 800px
    } */
        .homeText h1 {
            line-height: normal;
            letter-spacing: 2px;
            font-weight: bold;
        }

}