* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #f1eff0;
}
::-webkit-scrollbar-thumb {
  background: #9c1832;
  border-radius: 50px;
}
:root {
  --black--main: rgba(0, 0, 0, 0.9);
  --white-main: #fff;
  --light-white: #e0d4d4;
  --red-main: #a01111;
  --orange-main: #ffa500;
  --gray-main: rgb(130, 130, 123);
  --secondary-white: #f5f5f5;
  --gray-secondary: rgb(132, 130, 130);
}
/* contacts on top */
.contactGlobal {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  background: var(--black--main);
  color: var(--white-main);
  height: 90px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  /* box-shadow: 0 0 30px var(--black--main); */
  /* margin: 15px 0; */
}
#contact-handles {
  margin: 15px;
}
#contact-handles i {
  padding: 10px;
  font-size: 20px;
}
#contact-handles i:hover {
  cursor: pointer;
  background: var(--white-main);
  color: var(--red-main);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s ease;
  transform: translateY(-10px);
}
#contacts-local {
  margin: 15px;
}
#contacts-local i {
  padding: 10px;
}
#contacts-local:hover {
  cursor: pointer;
}
/*
 .phone{
    font-family: "Ubuntu", sans-serif
} */
#envelope,
#phone,
#clock {
  font-size: 20px;
}
/* main-nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  background: var(--black--main);
  color: var(--white-main);
}
.logo {
  font-family: "Odibee Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  cursor: pointer;
}
.logo span {
  color: var(--orange-main);
  font-size: 2.5rem;
  font-family: "Odibee Sans", sans-serif;
}
/* MENU BAR */
.menuIcon {
  display: none;
  margin: 15px 0;
  /* background: var(--red-main); */
}
#showMenu,
#hideMenu {
  font-size: 23px;
  background: transparent;
  /* border: 2px solid var(--orange-main); */
  /* width: 35px;
  height: 35px;
  border-radius: 8px;
  padding: 5px 5px; */
}
#showMenu:hover,
#hideMenu:hover {
  cursor: pointer;
  /* box-shadow: 0 0 45px var(--white-main); */
  /* background: transparent; */
  /* border: 3px solid var(--gray-main);
  transition: all 0.4s;
  padding: 5px 4px; */
  /* color: var(--gray-main); */
}
#hideMenu {
  /* padding: 5px 6px; */
  display: none;
}
/* NAVBAR */
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  padding: 15px;
}
.navbar ul li a {
  color: var(--white-main);
  text-decoration: none;
}
.navbar ul li:hover {
  border-bottom: 3px solid var(--orange-main);
  transition: 0.3s ease;
  cursor: pointer;
}
.landing{
    border-bottom: 3px solid var(--orange-main);
      transition: 0.3s ease;
      cursor: pointer;
}
.navbar ul li i {
  color: var(--white-main);
  padding: 0 10px;
}
.drop {
  display: none;
}
.drop {
  position: absolute;
  width: 200px;
  background: var(--white-main);
  right: 170px;
  top: 50px;
  padding: 10px 5px;
  transition: all 0.7s;
  box-shadow: 0 0 20px var(--black--main);
  border-radius: 4px;
  display: none;
  animation: navAnim 1s linear;
}
@keyframes navAnim {
  0% {
    transform: scale(0);
  }
  50%,
  100% {
    transform: scale(0.9, 1);
  }
}
.navbar ul li:hover .drop {
  display: block;
}
.drop ul {
  display: block;
  list-style-type: none;
}
.drop ul li a {
  color: var(--black--main);
  text-decoration: none;
}
.drop ul li {
  padding: 10px;
}
.drop ul li:hover {
  border-bottom: none;
  border-left: 2px solid var(--black--main);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  transform: translateX(10px);
  color: var(--orange-main);
}
/* .navbar ul li:hover .pages-drop-down{
    display: block;
} */
/* pages more */
#sign-upBTN {
  padding: 8px 25px;
  background: transparent;
  color: var(--white-main);
  border: 2px solid var(--white-main);
  text-transform: uppercase;
  border-radius: 5px;
}
#sign-upBTN:hover {
  color: var(--white-main);
  border: 2px solid var(--orange-main);
  background: var(--orange-main);
  transition: 0.3s ease;
  cursor: pointer;
}

/* hero section */
#hero {
  background: url(https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center/cover;
  /* height: 700px; */
  color: var(--white-main);
  padding: 5px 20px;
}
.homeText {
  margin: 15px 0;
}
.homeText h1 {
  line-height: 1.5;
  /* letter-spacing: 2px; */
  font-weight: bold;
  font-size: 2rem;
}
.homeText p {
  line-height: 2;
  margin: 15px 0;
}
.homeText aside {
  line-height: 2;
}
.shop-cart {
  margin: 20px 0;
}
#shop-nowBtn {
  padding: 8px 25px;
  background: transparent;
  color: var(--white-main);
  border: 2px solid var(--white-main);
  text-transform: uppercase;
  border-radius: 5px;
}
#shop-nowBtn:hover {
  background: var(--orange-main);
  color: var(--white-main);
  border: 2px solid var(--orange-main);
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-15px);
}
.shop-right,
.cart-icon-add {
  position: relative;
  left: 10px;
}
#cartBtn {
  padding: 8px 25px;
  background: var(--orange-main);
  color: var(--white-main);
  border: 2px solid var(--orange-main);
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0 10px;
}
#cartBtn a {
  color: var(--white-main);
  text-decoration: none;
}
#cartBtn:hover {
  background: transparent;
  color: var(--white-main);
  border: 2px solid var(--white-main);
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-15px);
}
/* ABOUT  SECTION */
#about {
  padding: 25px 20px;
  background: var(--light-white);
  color: var(--black--main);
}
/* #about-img{
    height: auto;
    text-align: center;
} */
.aboutHome {
  padding: 20px 0;
}
.aboutImage {
  text-align: center;
}
.About {
  font-size: 2.3rem;
  padding-bottom: 20px;
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Jost", sans-serif; */
  font-family: "Dancing Script", cursive;
}
.blur {
  filter: blur(10px);
}
#aboutSpan {
  color: var(--red-main);
  border-bottom: 2px solid var(--red-main);
  padding: 5px 0;
}
.aboutInfo {
  display: flex;
  justify-content: space-evenly;
}
#aboutUs-img:hover {
  cursor: pointer;
  transform: rotate(10deg);
  transition: all 0.5s;
  filter: brightness(80%);
}
.aboutTextContent p {
  text-align: justify;
}
.vid {
    text-align: center;
}
.video-button {
  position: relative;
  bottom: 300px;
  left: 200px;
  background: var(--white-main);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
.video-button span {
  position: relative;
  left: 30px;
}
#button-vd {
  border: none;
  padding: 5px 20px;
  background: transparent;
}
#button-vd i {
  font-size: 35px;
  color: var(--white-main);
  border: 2px solid var(--white-main);
  padding: 5px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  bottom: 10px;
}
#button-vd i:hover{
    border: 2px solid var(--red-main);
    color: var(--orange-main);
}
.vid{
    text-align: center;
}
#video-img{
    width: 300px;
}
.video-info{
    display: grid;
    place-content: center;
    position: relative;
    bottom: 180px;
    color: var(--white-main);
}
/* PRODCUTS SECTION */
#products{
    padding: 25px 20px;
      background: url("https://media.istockphoto.com/id/1495576954/photo/abstract-bokeh-background-of-colorful-glowing-lights-with-soft-focus-in-bright-sunlight.jpg?s=612x612&w=0&k=20&c=h3SZpEqEb_2iLSTIeELfnykp2y_4wzV7CkGDQZ6JlEI=") no-repeat center center/cover;
    /* background: var(--secondary-white); */
}
.products-header{
    text-align: center;
    font-size: 2.4rem;
    font-family: "Dancing Script", cursive;
    margin: 15px 0;
}
.productsDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 20px;
   text-align: center;
}
#p-image-1{
    width: 200px;
}
#p-image-1:hover, .sameSize:hover{
  cursor: pointer;
  transition: .4s ease-in-out;
  transform: scale(1.3);
}
/* Same Sizes */
.sameSize{
  width: 250px;
}
#sameSizeMain, #sameSize2{
  width: 280px;
}

/* .prodcut1, .prodcut2, .prodcut3{
    margin: 10px 0;
} */
.showMoreDiv{
    display: none;
}
#show-More-Btn, #show-Less-Btn{
    border: none;
    background: var(--gray-secondary);
    color: var(--white-main);
    padding: 10px 0;
    border-radius: 15px;
    width: 100%;
    /* margin: 5px 10px; */
}
#show-More-Btn:hover, #show-Less-Btn:hover{
    background: var(--black--main);
    cursor: pointer;
    transition: all .5s;
    transform: translateY(10px);
}
#show-More-Btn i, #show-Less-Btn i{
    padding: 0 10px;
}
.products-title{
    margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
}
.showMore, .buys{
    display: flex;
    justify-content: space-evenly;
}
.price span {
    color: var(--orange-main);
    font-weight: bold;
    font-size: 20px;
}
.addCart{
    padding: 25px 0;
}
.addCart button{
    border: none;
    background: var(--black--main);
    color: var(--white-main);
    padding: 7px 20px;
    border-radius: 8px;
}
.p-info{
    display: flex;
    justify-content: space-evenly;
}
.p-hints{
    font-weight: bold;
}
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  background: var(--red-main);
  color: transparent;
}

.scroll-top i {
  font-size: 18px;
  color: var(--white-main);
  line-height: 0;
}

.scroll-top:hover {
  background: #ec2727;
  color: transparent
}

.scroll-top.active{
  visibility: visible;
  opacity: 1;
}


/* CONTACT US SECTION */

#contact{
  /* padding-bottom: 20px; */
  /* padding: 25px 20px; */
  background: url(../images/contact-img.jpg);
  /* background: var(--secondary-white); */
    /* background: url("https://images.unsplash.com/photo-1493514789931-586cb221d7a7?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover; */
  /* background: url("https://images.unsplash.com/photo-1491466424936-e304919aada7?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover; */
}
.contact-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
      color: var(--white-main);
  /* background: var(--white-main); */
}
.contact-form{
  background: var(--black--main);
  /* background: url("https://images.unsplash.com/photo-1542393545-10f5cde2c810?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxhcHRvcHN8ZW58MHx8MHx8fDA%3D") no-repeat center center/cover; */
  color: var(--white-main);
  padding: 30px 25px;
}
/* .form{
  opacity: .8;
} */
.form ::placeholder{
  color: var(--white-main);
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}
.form input:hover, .form textarea:hover{
  cursor: pointer;
  border-bottom-color: var(--red-main);
  transition: .3s ease;
}
.nameInput, .emailInput, .subjectInput, .messageInput{
  margin: 20px 10px ;
}
.nameInput input, .emailInput input, .subjectInput input, .messageInput textarea{
  padding: 13px 7px;
  width: 350px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--white-main);
  color: var(--white-main);
  font-size: 16px;
  text-transform: uppercase;
}
.messageInput textarea{
    text-transform: capitalize;
}
#btnSubmit{
  padding: 10px 25px;
  border: none;
  background: var(--red-main);
  color: var(--white-main);
  border-radius: 5px;
}
#btnSubmit:hover{
  outline: 2px solid var(--red-main);
  /* font-weight: bold; */
}

 .contact-details-chat{
  background: var(--light-white);
  color: var(--black--main);
  padding: 30px 25px;
  opacity: .9;
}
.contactText span{
  border-bottom: 4px solid var(--red-main);
}
/* .location{
  margin-top:20px;
  margin-bottom: 0;
  display: flex;
}  */
.call i, .mesage-email i, .website-icon i, .location i{
  border: 2px solid var(--gray-main);
  padding: 10px;
  border-radius: 50%;
}
.call, .mesage-email, .website-icon, .location{
  margin: 40px 0;
  display: flex;
}
.call p, .mesage-email p, .website-icon p, .location p{
  margin: 0 35px;
}
.mesage-email a, .call a,  .website-icon a{
  color: var(--black--main);
  text-decoration: none;
}
.map{
  margin: 0;
    text-align: center;
}
.map h2{
  color: var(--white-main);
}
.map iframe{
  width: 100%;
}

/* FOOTER */
.foot{
  /* background: url("https://images.unsplash.com/photo-1493514789931-586cb221d7a7?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center/cover; */
  background: var(--black--main);
  /* opacity: .9; */
  padding: 25px 20px;
  color: var(--white-main);
}
.footer-contents{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-contents div h3{
  color: var(--orange-main);
  padding: 10px 5px;
}
.footer-contents div a{
  color: var(--white-main);
  text-decoration: none;
}
.footer-contents div img{
  width: 200px;
}
.form-news{
  margin: 15px 0;
  display: flex;
}
.form-news i{
  top: 15px;
  position: relative;
  left: -240px;
  color: var(--black--main);
}
#subscribe-btn{
  padding: 10px 25px;
    border: none;
    background: var(--orange-main);
    color: var(--white-main);
    border-radius: 5px;
    cursor: pointer;
}
#subscribe-btn:hover{
  opacity: .8;
  outline: 1px solid var(--orange-main);
  transition: .5s ease;
}
#newsFeed{
  padding: 10px 40px;
  width: 250px;
  border: none;
  outline: none;
  background: var(--white-main);
  border-radius: 5px;
  cursor: pointer;
}
.hr-line{
  font-weight: bold;
}
.footerlinks{
  padding: 15px 0;
}
.links-footer{
  text-align: center;
}
.links-footer i{
  border-radius: 50%;
  padding: 8px 5px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background: var(--orange-main);
  color: var(--white-main);
  cursor: pointer;
  /* margin: 0 8px; */
}
.links-footer i:hover{
  color: var(--orange-main);
  background: var(--white-main);
  transition: all .3s ease-in;
}
.copyright{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20px;
  /* color: var(--light-white); */
}
/* For Media Querrt - Smaller Screens */
@media (min-width: 0) and (max-width: 750px) {
  .contactGlobal {
    display: none;
  }
  /* NavBar */
  .nav{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 70px;
        padding: 10px 25px;
        z-index: 100;
        box-shadow: 0 0 45px var(--black--main);
    }
  .navbar {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    width: 80%;
    background: var(--orange-main);
    animation: rotateNav 2s linear;
    transition: all 0.3s;
    padding-bottom: 10px;
  }
  @keyframes rotateNav {
    0% {
      width: 0;
      /* height: 0; */
    }
    50%,
    100% {
      width: 80%;
      /* height: 89%; */
    }
  }
  .navbar ul {
    display: block;
  }
  .navbar ul li {
    margin-top: 10px;
    padding: 20px;
  }
  /* Menu Bar */
  .menuIcon {
    display: block;
  }
  .navbar ul li:hover {
    border-bottom: none;
    background: var(--black--main);
    width: 240px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    transform: translateX(10px);
    border-radius: 4px;
  }
  .drop {
    display: none;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
  }

  .drop ul {
    display: block;
    list-style-type: none;
  }

  .drop ul li a {
    color: var(--black--main);
    text-decoration: none;
  }

  .drop ul li {
    padding: 10px 5px;
  }
  .drop ul li:hover {
    border-bottom: none;
    border-left: 2px solid var(--black--main);
    background: transparent;
    color: var(--white-main);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    transform: translateX(10px);
    border-radius: none;
  }

  /* .drop ul li:hover {
            border-bottom: none;
            border-left: 2px solid var(--black--main);
            cursor: pointer;
            font-weight: bold;
            transition: .3s ease;
            transform: translateX(10px);
            color: var(--white-main);
        } */

  /* hero section */
  #hero{
        margin-top: 68px;
    }

  .homeText h1 {
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
  }
  #shop-nowBtn {
    padding: 8px 15px;
  }
  .shop-right,
  .cart-icon-add {
    position: relative;
    left: 3px;
  }

  #cartBtn {
    padding: 8px 15px;
  }
  /* ABOUT SECTION */
  .aboutInfo {
    flex-direction: column;
  }
  .aboutImg {
    text-align: center;
  }
  #aboutUs-img,
  #about-img-video, #video-img {
    width: 300px;
  }
  .vid{
    text-align: center;
  }
  /* .video-info {
      background: var(--white-main);
      display: grid;
      place-content: center;
      width: 200px;
      position: relative;
      left: 70px;
      bottom: 190px;
      border-radius: 5px;
  } */
  /* PRODCUTS SECTION */
  #products {
      padding: 25px 20px;
  }

  .productsDiv {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
  }
  #show-More-Btn,
  #show-Less-Btn {
     width: 100%;
  }
  /* CONTACT-US SECTION */
  .contact-container{
    grid-template-columns: repeat(1, 1fr);
  }
    .nameInput input,
    .emailInput input,
    .subjectInput input,
    .messageInput textarea{
      width: 230px;
    }
    /* Footer */
        .footer-contents {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
                .copyright {
                  display: flex;
                  justify-content: flex-start;
                 
                  top: 30px; 
                }
}

/* for iPads */
@media (min-width: 760px) and (max-width: 950px) {
  /* NavBar */
  .navbar {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    width: 80%;
    height: 89%;
    background: var(--orange-main);
    animation: rotateNav 2s linear;
    transition: all 0.3s;
    z-index: 100;
  }
  @keyframes rotateNav {
    0% {
      width: 0;
      height: 0;
    }

    50%,
    100% {
      width: 80%;
      height: 89%;
    }
  }
  .navbar ul {
    display: block;
  }

  .navbar ul li {
    margin-top: 10px;
    padding: 25px;
  }

  /* Menu Bar */
  .menuIcon {
    display: block;
  }
  /* ABOUT SECTION */
  .aboutInfo {
    flex-direction: column;
  }

  .aboutImg {
    text-align: center;
  }

  #aboutUs-img {
    width: auto;
  }
  .vid{
    display: flex;
    justify-content: center;
  }
  #video-img{
    width: 300px;
  }
  .video-info {
      position: relative;
      bottom: 20px;
      left: -220px;
      color: var(--white-main);
  }
   /* PRODCUTS SECTION */
   #products {
       padding: 25px 20px;
   }

   .productsDiv {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       text-align: center;
   }
         /* Footer */
         .footer-contents {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
         }
                     .copyright {
                       display: flex;
                       justify-content: flex-start;
          
                       top: 30px;
                     }
  
}
